@{
    ViewData["Title"] = "About";
}

<h2 clas="about-title">About</h2>
<br/>	
<p class="about-content">
	RentMe is a place where anyone can view and upload real estate for rent.<br/>
	The second purpose of the application is to facilitate communication between landlord and tenant.<br/>
	The landlord can register monthly expenses, so he/she can track them and send to the tenant as well.<br/>
	The app also provides a blog section where users can read and write articles.<br/>
	All content and services are free to use.
</p>

