@{
    ViewData["Title"] = "About";
}

<div>
<h1 clas="about-title">About</h1>
<p class="about-content">
	RentMe is a place where anyone can view and upload real estate for rent or sale.
	The second purpose of the application is to facilitate communication between landlord and tenant.
	The landlord can register monthly expenses, and on the other hand the tenant can track them and pay them directly to the owner.
	The app also provides a blog section where users can read and write articles.
	All content and services are free to use.
</p>
</div>
