@{
    ViewData["Title"] = "About";
}

<h2 clas="about-title">About</h2>
<br/>	
<p class="about-content">
	The main purpose of the application is to manage your rented property.<br/>
	The landlord can register monthly expenses of the tenant of their property. So they can monitor their expenses.<br/>
	The app also provides a blog section where users can read and write articles.<br/>
	There is as well as a gallery section where guests of the site inspire their interior design ideas.<br/>
	All content and services are free to use.
</p>

