@{
    ViewData["Title"] = "Home";
}


<section class="intro">
    <article class="intro-image">
    <img src="~/house-3d.jpg" alt="Image"/> 
    </article><br/>
    <article class="intro-title">
        <h3>- Welcome to RentMe -</h3>
        <div class="intro-content">
        <p>
            Your online real estate management system
        </p>
        <p>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a> to explore or <a asp-area="Identity" asp-page="/Account/Login">Login</a> if you are already part of it 
        </p>
        </div>
    </article>
</section>


