@{
    ViewData["Title"] = "Home Page";
}

<section class="intro">
    <article class="intro-image">
    <img src="~/logo-house.png" alt="image" /> 
    </article>
    <article class="intro-content">
        <h1>Welcome to RentMe</h1>
        <p>
            Оnline place cnnecting people who are interested in real estate.
       </p>
    </article>
</section>


