@{
    ViewData["Title"] = "Home";
}


<section class="intro">
    <article class="intro-image">
    <img src="~/house-3d.jpg" alt="Image"/> 
    </article><br/>
    <article class="intro-title">
        <h3>- Welcome to RentMe -</h3>
        <p class="intro-content">
            Your online real estate management system
        </p>
    </article>
</section>


