@model RentMe.Core.Models.PropertyFormModel

@{
    ViewData["Title"] = "New Property";
 }

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProperty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label> /sq.m/
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span> 
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasParking" /> Parking
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasElevator" /> Elevator
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasFurniture" /> Furniture
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-lable"></label>  
                <select asp-for="Type" asp-items="ViewBag.PropertyTypes" class="custom-select"></select>  
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-controller="Property" asp-action="Properties">Back To My Properties</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
