.for-rent-ad{
    display: block;
    border: double;
    background-color: lightgreen;
}

.paragraph-client-side{
    display: block;
    border: double;
    background-color: whitesmoke;
    padding: 10px;
}

/*to do : resizing input field not working*/
.form-control {
    resize: both;
    overflow: auto;
}

