.for-rent-ad {
    display: block;
    border: double;
    background-color: lightgreen;
}

.paragraph-client-side {
    display: block;
    border: double;
    background-color: whitesmoke;
    padding: 10px;
}

.box {
    width: 500px;
    border: 3px dotted;
    border-color: darkblue;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: white;
}

/*to do : resizing input field not working*/
.form-control {
    resize: both;
    overflow: auto;
}

.intro-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    resize: vertical;
    position: center;
}
@media only screen and (max-width : 360px) {
    .intro-image {
        display: none;
    }
}

.intro-title {
    color: dimgrey;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.intro-content {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

.button {
    width: 300px;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

    .button:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .button:main, button:focus {
        user-select: auto;
    }

    .button:hover:not(:disabled) {
        filter: brightness(1.1);
    }

    .button:disabled {
        cursor: auto;
    }

    .button:active:after {
        border-width: 0 0 0px;
    }

    .button:active {
        padding-bottom: 10px;
    }

.button-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-small:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
