@{
    ViewData["Title"] = "For Rent";
}
<div>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Ad" asp-action="Add">Add property</a>
    </button>
</div>
<div>
    <img src="~/logo-house.png" alt="image" /> 
    <img src="~/logo-house.png" alt="image" /> 
    <img src="~/logo-house.png" alt="image" /> 
</div>
<div class="for-rent-ad">
    <p>Type: Single-bedroom apartment</p>
    <p>City: Sofia</p>
    <p>Address: Iztok 23</p>
    <p>Floor: 5</p>
    <p>Area: 55 sq.m.</p>
    <p>Parking: Yes</p>
    <p>Elevator: Yes</p>
    <p>Furniture: Yes</p>
    <p>Price: 700 $</p>
    <p>Description: so good</p>
</div>
<div>
    <img src="~/logo-house.png" alt="image" /> 
    <img src="~/logo-house.png" alt="image" /> 
    <img src="~/logo-house.png" alt="image" /> 
</div>
<div class="for-rent-ad">
    <p>Type: Single-bedroom apartment</p>
    <p>City: Sofia</p>
    <p>Address: Iztok 23</p>
    <p>Floor: 5</p>
    <p>Area: 55 sq.m.</p>
    <p>Parking: Yes</p>
    <p>Elevator: Yes</p>
    <p>Furniture: Yes</p>
    <p>Price: 70 000 $</p>
    <p>Description: so bad</p>
</div>

