@model RentMe.Core.Models.ImageFormModel

@{
    ViewData["Title"] = "New Image";
}

<form asp-action="Create" 
      asp-controller="Gallery" 
      method="post" 
      enctype="multipart/form-data">
    <input type="file" id="file1" 
           name="file1" 
           multiple="multiple" />
           <br/>
     <div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit">Upload File(s)</button>
</form>

 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}