@{
    ViewData["Title"] = "Article";
}

<form method="post" >
        <fieldset>
          <legend>Title</legend>
          <div>
            <label for="Title">Title:</label>
            <input type="text" name="Title" value="" />
          </div>
          <div>
            <label for="Text">Text:</label>
            <input type="text" name="Text" value="" />
          </div>
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
          </div>
        </fieldset>
      </form>