@using Microsoft.AspNetCore.Identity
@using RentMe.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<RentMe.Core.Models.ArticleViewModel>
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Blog";
}

@if (SignInManager.IsSignedIn(User)){
    <div>
        <button class="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="AddArticle">Add New Article</a>
        </button>
    </div>
}
<br/>
<div>
    @foreach (var item in Model){
        <h3>@item.Title</h3>
        if (User.IsInRole("Admin")){
            <div>
                @Html.ActionLink("Delete", "Delete", "Blog", item, null)
            </div>
        }
        <article class="paragraph-client-side">
        @item.Content
    </article> 
    <br/>
    }
</div>


