@using Microsoft.AspNetCore.Identity
@using RentMe.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<RentMe.Core.Models.ArticleViewModel>

@{
    ViewData["Title"] = "Blog";
}

@if (SignInManager.IsSignedIn(User)){
    <div>
        <button>
            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="AddArticle">Add New Article</a>
        </button>
    </div>
}
<br/>
<div>
    @foreach (var item in Model){
        <h3>@item.Title</h3>
        if (User.IsInRole("Admin")){
            <div>
                <button>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Delete">Delete Article</a>
                </button>
            </div>
        }
        <article>
        @item.Content
    </article> 
    <br/>
    }
</div>


